<div class="add-habit-container">
  <div class="add-habit-card">

    <div class="add-habit-header">
      <button class="back-btn" routerLink="/">←</button>
      <h2>✨ افزودن عادت جدید ✨</h2>
    </div>

    <form class="add-habit-form">
      <input type="text" placeholder="نام عادت" class="habit-input green">
      <input type="text" placeholder="لقمه کوچک" class="habit-input green">
      <input type="text" placeholder="لقمه ویژه" class="habit-input green">
      <input type="text" placeholder="لقمه اضطراری" class="habit-input green">


      <button type="submit" class="submit-btn">افزودن</button>
    </form>

  </div>
</div>
